<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" thread-count="2" >
<listeners>
        <listener class-name="com.qa.Listeners.MyTestListener" />
    </listeners>
 <parameter name="browser" value="chrome"/>
 
 
  <test thread-count="5" name="Test1" parallel="none">
 <classes>
      <class name="com.qa.tests.LoginTest"/>
       <class name="com.qa.tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
